.navbar{
    min-height:80px;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    background-color: #fff;
    display:flex;
    align-items:center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 50;
}

.navbar-brand{
    font-size:1.3rem;
    font-weight:700;
    cursor: pointer;
}

.navbar-link{
    transition: color .15s ease-in-out;
    font-weight:700;
    font-size:1.1rem;
    display:flex;
    align-items: center;
    cursor: pointer;
}

.navbar-link:hover{
   color: #147EFB;
}
